:root{
    --pale-blue:#c9d7fa;
    --peach-pink: #fb6f92;
    --dark-blue:#253b6e;
    --bg-color: #f5f3f4;
    --delete-color: #ff0a54;

}
*:focus{
    outline: none;
}

body{
    font-family: "Inter Tight", serif;
    box-sizing: border-box;
    user-select: none;
    background-color: var(--bg-color);
}

.container{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
    padding: 10px;
    border-radius: 15px;
    height: auto;
}

h1{
    color: var(--peach-pink);
    margin: 15px 0;
}

.input-bar{
    width: 287px;
    padding: 13px 15px;
    margin-bottom: 10px;
    border-radius: 11px;
    border: 4px solid var(--pale-blue);
    background-color: var(--bg-color);
    color: var(--peach-pink);
    font-weight: bold;
    font-size: 16px;
}

::placeholder{
    color: var(--peach-pink);
    font-size: 16px;
    font-weight: bold;
}

button{
padding: 10px 15px;
border-radius: 9px;
background-color: var(--peach-pink);
cursor: pointer;
color: var(--bg-color);
font-weight: bold;
border: none;
transition: all 0.3s ease-in-out;
font-size: 14px;
}

button:hover{
    background-color: var(--pale-blue);
    color: var(--bg-color);
}
ul{
    list-style-type:circle;
}
.lists{
    display: flex;
    align-items: center;
}

ul li a{
    color: var(--peach-pink);
    font-size: 1.5rem;
    padding-right: 8px;
    display: block;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.material-icons{
    color: var(--dark-blue);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: bolder;
}

.material-icons:hover{
    color: var(--delete-color);
}